h1{
  color: black;
  background-color: black;
}

body{
  color: black;
  background-color: black;
}

.todos {
  background-color: #00b248;
}



.todosCard{
  color: black;
  background-color: #7de5cb;
}

.todoTitle{
  background-color: #1de5bd;
}

.todoTitle1{
  background-color: #1de5bd;
}

.todoTitle2{
  background-color: #1de5bd;
}

.todoTitle3{
  background-color: #1de5bd;
}

.todoTitle4{
  background-color: #1de5bd;
}

.divThing{
  background-color: #1de5bd;
}

.matCard1{
  background-color: #1de5bd;
}
.row1{
  background-color: #1de5bd;
}
